.movies-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0 auto;
  max-width: 1140px;
  width: 100%;
}

.movies-list__cards {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: 32px 20px;
  max-width: 1140px;
  justify-content: center;
  padding: 70px 0 0 0;
  margin: 0;
  justify-items: center;
}

.movies-list__button {
  max-width: 1140px;
  height: 36px;
  border-radius: 6px;
  background: #F9F9F9;
  margin: 50px 0 80px 0;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.movies-list__button:hover {
  opacity: 0.8;
}

.saved-devider {
  max-width: 1280px;
  min-height: 140px;
}

@media screen and (max-width: 1160px) {
  .movies-list__cards {
    padding: 70px 10px 0 10px;
  }
}

@media screen and (max-width: 768px) {
  .movies-list__cards {
    gap: 36px 30px;
    padding: 70px 30px 0 30px;
  }
}

@media screen and (max-width: 500px) {
  .movies-list__cards {
    row-gap: 20px;
    padding: 40px 10px 0 10px;
  }
}