.card {
  display: grid;
  gap: 10px 24px;
  align-items: center;
  max-width: 270px;
  max-height: 218px;
  grid-template-columns: 218px 28px;
  grid-template-rows: minmax(151px, 190px) 20px 27px;
}

.card__image {
  width: 100%;
  grid-column: 1/3;
  grid-row: 1/2;
  border-radius: 10px 10px 0 0;
}

.card__description {
  margin: 0;
  padding-left: 12px;
  grid-column: 1/2;
  grid-row: 2/3;
  align-self: end;
  color: #000;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.card__delete-icon {
  margin-top: 0;
  padding: 0 12px 0 0;
  grid-column: 2/2;
  grid-row: 2/3;
  align-self: end;
  width: 16px;
  height: 16px;
  background: url("../../images/delete-icon.svg") center;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.card__delete-icon:hover {
  opacity: 0.8;
}

.card__save-icon {
  margin-top: 0;
  padding: 0 12px 0 0;
  grid-column: 2/2;
  grid-row: 2/3;
  align-self: end;
  width: 16px;
  height: 16px;
  background: url("../../images/save8d.svg") center;
  border: none;
}

.card__save-icon_active {
  background: url("../../images/save_active.svg") center;
}

.card__duration {
  padding-left: 12px;
  grid-column: 1/2;
  grid-row: 3/3;
  align-self: start;
  color: #A0A0A0;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media screen and (max-width: 1024px) {  
  .card {
    max-width: 339px;
    max-height: 257px;
    gap: 10px 93px;
  }
}

@media screen and (max-width: 500px) {  
  .card {
    max-width: 300px;
    max-height: 235px;
    gap: 10px 54px;
  }
}