.card {
  display: flex;
  flex-direction: column;
  gap: 14px;
  max-width: 270px;
  max-height: 218px;
  background-color: #fdfdfd;
  box-shadow: 0 16px 24px 0px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  width: 100%;
}

.card__container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 14px;
}

.card__flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 12px;
}

.card__image {
  width: 100%;
}

.card__description {
  margin: 0;
  color: #000;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.card__delete-icon {
  margin-top: 0;
  width: 16px;
  height: 16px;
  background: url("../../images/delete-icon.svg") center;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.card__delete-icon:hover {
  opacity: 0.8;
}

.card__save-icon {
  height: 16px;
  width: 16px;
  padding: 0;
  border: none;
  border-radius: 8px;
  border: 2px solid #fff;
  transition: opacity 0.2s linear;
  cursor: pointer;
  box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.05);
}

.card__save-icon:hover {
  opacity: 0.7;
}

.card__save-icon_active {
  background: #2be080;
}

.card__duration {
  padding-left: 12px;
  align-self: start;
  color: #A0A0A0;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media screen and (max-width: 1024px) {  
  .card {
    max-width: 339px;
    max-height: 257px;
    gap: 10px 93px;
  }
}

@media screen and (max-width: 500px) {  
  .card {
    max-width: 300px;
    max-height: 235px;
    gap: 10px 54px;
  }
}