.promo {
  padding: 82px 0 122px 0;
  background-color: #465dff;
  max-width: 1280px;
  margin: 0 auto;
}

.promo__container {
  width: 100%;
  min-height: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('../../images/pic__COLOR_landing-logo.svg') no-repeat center;
}

.promo__title {
  color: #fff;
  text-align: center;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -2px;
  max-width: 730px;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .promo {
    padding: 224px 10px 240px;
    height: 320px;
  }

  .promo__title {
    min-width: 580px;
  }
}

@media screen and (max-width: 650px) {
  .promo {
    padding: 106px 10px 144px;
  }

  .promo__container {
    max-height: 248px;
    background-size: 248px 248px;
  }
  

  .promo__title {
    min-width: 300px;
    font-size: 31px;
    line-height: 39px;
    letter-spacing: -1.24px;
  }
}