.pagenotfound {
  display: flex;
  max-width: 1280px;
  min-height: 700px;
  justify-content: center;
  align-items: flex-end;
}

.pagenotfound__container {
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.pagenotfound__button {
  margin: 179px 0 60px 0;
  color: #FF6838;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: 0.3s;
  text-decoration: none;
}

.pagenotfound__button:hover {
  opacity: 0.8;
}

.pagenotfound__error {
  font-size: 140px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 246px;
}

.pagenotfound__text {
  color: #000;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media screen and (max-width: 500px) {
  .pagenotfound__button {
    margin: 179px 0 222px 0;
    font-size: 12px;
  }

  .pagenotfound__error {
    font-size: 80px;
  }

  .pagenotfound__text {
    font-size: 12px;
  }
}