.header {
  max-width: 1280px;
  min-height: 74px;
  display: flex;
  justify-content: space-between;
  padding: 0 5.5% 0 5.5%;
  box-sizing: border-box;
  align-items: center;
  margin: 0 auto;
}

.header__logo {
  max-width: 38px;
  max-height: 38px;
  cursor: pointer;
  transition: 0.3s;
  padding: 0;
}

.header__logo:hover {
  opacity: 0.6;
}

.header__blue {
  background-color: #465dff;
}

.header__light {
  background-color: #fff;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 0 3.906% 0 3.906%;
  }
}