.about-project {
  max-width: 1280px;
  padding: 8.6% 5.5%;
  box-sizing: border-box;
  margin: 0 auto;
}

.about-project__title {
  margin: 0;
  color: #000;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.88px;
  
}

.about-project__title::after {
  content: ""; 
  display: block;
  max-width: 1140px; 
  width: 100%; 
  height: 1px; 
  background-color: #000;
  margin: 23px 0 70px 0;
  bottom: 0; 
}

.about-project__content {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 40px;
  list-style: none;
}

.about-project__description {
  max-width: 550px;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.about-project__subtitle {
  margin: 0;
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.8px;
}

.about-project__text {
  margin: 0;
  color: #A0A0A0;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
  align-self: center;
}

.about-project__container{
  display: grid;
  grid-template-columns: 1fr 4fr;
  list-style: none;
  margin: 110px 0 0 0;
  padding: 0;
}

.about-project__timeline {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin: 0;
}

.about-project__timeline-title {
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: #2be080;
  padding: 9px 14px;
  margin: 0;
}

.about-project__timeline:first-of-type {
  max-width: 228px;
}

.about-project__timeline-title_level-2 {
  max-width: 912px;
  background: #F2F2F2;
}

@media screen and (max-width: 768px) { 
  .about-project__title {

  }

  .about-project__description {
    gap: 22px;
  }

  .about-project__content {
    gap: 30px;
  }

  .about-project__text {
    font-size: 12px;
    line-height: 18px;
  }

  .about-project__timeline:first-of-type {
    width: 140px;
  }
}

@media screen and (max-width: 500px) { 
  .about-project__title {
    font-size: 18px;
  }

  .about-project__subtitle {
    font-size: 18px;
  }

  .about-project__text {
    font-size: 11px;
    line-height: 18px;
  }

  .about-project__timeline:first-of-type {
    width: 100px;
  }

  .about-project__timeline-title {
    font-size: 11px;
  }

  .about-project__content {
    flex-direction: column;
    gap: 56px;
  }

  .about-project__description {
    gap: 16px;
  }

  .about-project__container {
    margin-top: 60px;
  }
}